/**
 * Loads https://github.com/typhonjs/typhon-config-eslint-es6/blob/master/.eslintrc
 * NPM: https://www.npmjs.com/package/typhon-config-eslint-es6
 */
{
   "extends": "./node_modules/typhon-config-eslint-es6/.eslintrc"
}