/**
 * Loads https://github.com/typhonjs/typhonjs-config-eslint-es6/blob/master/.eslintrc
 * NPM: https://www.npmjs.com/package/typhonjs-config-eslint-es6
 */
{
   "extends": "./node_modules/typhonjs-config-eslint-es6/.eslintrc"
}